<form action='/recipes' method='POST'>
    <input type='text' placeholder='Recipe Name' name='name'>
    <p/>
    <input type='text' placeholder='Ingredients' name='ingredients'>
    <p/>
    <input type='text' placeholder='Cooking Time(in Minutes)' name='cook_time'>
    <p/>
    <input type='submit' value='Submit'>
</form>