<form method="post" action="/recipes">
  <label name="name">Recipe Name: </label>
  <input type="text" name="name">
  <label name="ingredients">Ingredients: </label>
  <input type="text" name="ingredients">
  <label name="cook_time">Cook Time:</label>
  <input type="text" name="cook_time">
  <input type="submit">
</form>